* {
  font-face: 'Montserrat', sans-serif;
  font-size: 4em;
}

body {
  background-color: #D9CB9E;
  color: #1E1E20;
}

img {
  padding-top: 2em;
  max-width: 100%;
  height: auto;
  width: 70%;
  padding-left: 15%;
}

header {
  background-color: #2A2C2B;
  color: #DC3522;
}

.randomize {
  width: 6em;
}

/*colors:

#DC3522
#D9CB9E
#374140
#2A2C2B
#1E1E20*/
