* {
  font-face: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

body {
  background-color: #D9CB9E;
  color: #1E1E20;
}

img {
  padding-top: 2em;
  max-width: 100%;
  height: auto;
  width: 70%;
  padding-left: 30%;
}

header {
  background-color: #2A2C2B;
  color: #DC3522;
}


/*colors:

#DC3522
#D9CB9E
#374140
#2A2C2B
#1E1E20*/
